ul{
  background-color:#51A8FF ;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin:0px 30px;
}
li{
  /* display: inline-block; */
  padding:30px;

  list-style-type: none;
  background-color:#51A8FF ;
}
li a{
  text-decoration: none;
  color:white;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-inner{
  border-radius:8px;
  height:400px;
  width:400px;
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  background-color: #9EFADF;
  
}
.img{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.login-compo{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top:60px;
}
.login-text{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}
.login-inner input{
  padding:8px;
  margin-top:7px;
  margin-bottom:25px;
  border-radius: 9px;
  border:2px solid black;
}
.login-inner button{
  padding:10px;
  width:100px;
  background-color: #FFDBB5;
  border: 1px solid #ceaa83;
  border-radius: 6px;
}
.login-inner label{
  font-weight: 10px;
}
.signup-indication{
  text-align: center;
}
.signup-indication button{
  padding:10px;
  width:100px;
  background-color: #FFDBB5;
  border: 1px solid #ceaa83;
  border-radius: 6px;
}